<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            +'?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tl' +
            'bl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjIyMDY0MzA0LCJqdGkiOiIxOGU4ZDBlZGZmMzI0NjZkYmM1NGEwZTdiMWVi' +
            'NjRkZiIsInVzZXJuYW1lIjoiYWJiZXMiLCJ1c2VyX2NlcnRpZmljYXRlIjoiLS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS' +
            '0tXG5NSUlEWGpDQ0FrYWdBd0lCQWdJUkFNV0IrRiswVUUxb3JjUWJ3eE04SS84d0RRWUpLb1pJaHZjTkFRRUxCUUF3XG5kVE' +
            'VMTUFrR0ExVUVCaE1DVkU0eERqQU1CZ05WQkFnTUJWUjFibWx6TVE0d0RBWURWUVFLREFWSlRsTkJWREVYXG5NQlVHQTFVRUN' +
            '3d09SMlZ1YVdVZ2JHOW5hV05wWld3eEVUQVBCZ05WQkFNTUNFbE9VMEZVTFVkTU1Sb3dHQVlKXG5Lb1pJaHZjTkFRa0JGZ3RwYm' +
            '5OaGRFQm5iQzUwYmpBZUZ3MHlNVEExTWpVeU1qSXdOREJhRncweU1UQTJNREV5XG5Nakl3TkRCYU1FNHhGVEFUQmdOVkJBTU1E' +
            'RlZUUlZJNmJXWmtkWFJ5WVRFTE1Ba0dBMVVFQmhNQ1ZWTXhFekFSXG5CZ05WQkFnTUNrTmhiR2xtYjNKdWFXRXhFekFSQmdOVkJ' +
            'BY01DazFsYm14aElGQmhjbXN3Z2dFaU1BMEdDU3FHXG5TSWIzRFFFQkFRVUFBNElCRHdBd2dnRUtBb0lCQVFDNHFaMjMxeTgrVG' +
            'Z5dGN5TVAwa0pNL1BFYWxUWGIxUkRuXG5KeCtKTWZ5ZkRZZithb1A1bXR2SVFGQnpWRi9MdjBnbzh0OFlqL1ZHR1JNYm9FL3dZb' +
            'WpCT1BCR0xidnAzb0tqXG5EdEpGRVN6WStHekpvWmw4aEdubitrMzJ4ZU5zRmljaUszdFpSZ21wdFhiTHBJckhwcHRYUHVrVks0' +
            'aDJ1Z3ZmXG5JRjYxaW5KcVdpNVhDZW5WMnBKM1QyTWQ2aFBncWFkNjBFazYxZFN5QTc5VmNxQmJJdjRmc2tOYjhudkVUOGE2XG5' +
            'HYXo4blkwNmJqbzFYUHM5N3kzelA5emlPdzcvNzcrSkFmWjZlajMrUWVmOENvbnF5UDRTZE9QZk5nSDFTc3QyXG5GYkRLQ1VjeT' +
            'NyMDZDQ0I1UnRnTVVaRTRUbTE1NEMzMS9ZUWtjUUJ6Zm80Z0N6RzR2a3NUQWdNQkFBR2pFREFPXG5NQXdHQTFVZEV3RUIvd1FDT' +
            'UFBd0RRWUpLb1pJaHZjTkFRRUxCUUFEZ2dFQkFIdVR1Q3Q1b1RpOWxzaWhGT0oyXG4xM2Z4Y01tWC9uSzdZeWYxdXNzRmhGTnpuZ3pI' +
            'cFkxZTNYUHZZN0UvNEdCbGhIRTZrNDZkMHorUitBN2ZYcFZXXG5naVY2UngwUmtCVXZGTG5adnZRaW9hcXlZZFNkS2RJWlU3Zm5mUF' +
            'dITCtTWUJhSXhJMW5zWlFldHVDK3NCQkR4XG5qb09kbGowWUtnZFp4WUdnTlFacUtRWUV2MTR6SWs1bkRHOElOSTFHYkF5U203QkZP' +
            'WWU4cFl5cGRUN3F3QkUwXG5CZHNIT00wVUs0QkowUU5iOVh3S0FueW5LYTRmR2dtMXJJcytmZ2tKK2w4ZHFxQmRvSjYxWVEvTUVQZklG' +
            'U21jXG5TMnY3TGNhY21pWEsvbUVGRFJnUmVHNXJ6VGNSaWFnWWkrdExhQ2dWREEyWnI5aXpzOEFWdGx0RkhEN1pkWDIzXG56RUU9XG4t' +
            'LS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tXG4ifQ.55Iz5MHlnUj4WVyHcAu97uRn5bP8VMVwSfZp9WS71Co'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'command': 'fetch_messages',
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>